*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
# *.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json

selfmod.egg-info
selfmod.egg-info/*
selfmod/__pycache__/*

# For tensorboard logs
*v2
*ubyte.gz
*json.gz
*.pb

# For slurm out files
*.out

# For Isambard
*.pbs*
!scripts/isambard.pbs

# Artifacts of testing
selfmod/tests/tmp/*

## Pytorch tmp savings
*-ubyte

# ## Don't save equinox models
# *.eqx

## Ignore the example tmp
examples/tmp/

## Cprofile
examples/runs/cprofile/*

## Ignore all checkpoints
checkpoints/

# ## Ignore all .log files
# *.log
examples/lotka-v/nohup.log
examples/ode-bench/nohup.log
examples/trends/nohup.log
examples/epilepsy/nohup.log
examples/celeb-a/nohup.log
examples/crowdsource/nohup.log
examples/fmri/nohup.log
examples/forced-o/nohup.log
examples/sine-reg/nohup.log
examples/sleep/nohup.log
examples/linguistics/nohup.log
examples/selkov/mega_nohup.log
examples/lotka-v/mega_nohup.log

## Ingnore all folders named "tmp", recursively
**/tmp/
venv/*

# ## Files
# contexts_*.npy

## Every experiment in runs
examples/forced-oscillator/runs/*
!examples/forced-oscillator/runs/240531-190937-Lotka
!examples/forced-oscillator/runs/240601-080700-Great
!examples/forced-oscillator/runs/240601-161402-Perfect
!examples/forced-oscillator/runs/240601-235945-Awesome


## The celebA dataset
examples/celeb-a/data/*
examples/celeb-a/data/img_align_celeba.zip
examples/celeb-a/runs/*


## Exception runs
!examples/celeb-a/runs/240617-190219
!examples/celeb-a/runs/250609-112233-VAE
examples/celeb-a/runs/250624-193230-VAE/*.eqx
!examples/celeb-a/runs/250624-193230-VAE/
!examples/celeb-a/runs/240629-114654/
!examples/celeb-a/runs/240629-192445/
!examples/celeb-a/runs/240630-134526/
!examples/celeb-a/runs/240713-051118-VNet/
!examples/celeb-a/runs/240713-134917-GoldenT0/
# examples/celeb-a/runs/240713-134917-GoldenT0/contexts/
!examples/celeb-a/runs/240816-182136-3DaysTrain-Awesome/
!examples/celeb-a/runs/240819-024338-6HoursTrainingNCF/
!examples/celeb-a/runs/240819-162026-LowDataNCF/
!examples/celeb-a/runs/240819-171428-LowDataCAVIA/
!examples/celeb-a/runs/LowDataRegimeExperiment/
# !examples/celeb-a/runs/240901-174340-LC64/
# !examples/celeb-a/runs/240901-220317-LC32-CP3-SuperLong/
!examples/celeb-a/runs/DataTaylorExperiment/
# !examples/celeb-a/runs/240904-124509-T0-LC32-P32-NOALM*/      ## This is the best one


## Sine experiment runs
examples/sine-reg/runs/*
!examples/sine-reg/runs/240818-234103-Awesome/
!examples/sine-reg/runs/Experiment-DataRegime/
!examples/sine-reg/runs/Experiment-DataRegime-SmallCAVIA/


## Forced oscillator experiment runs
examples/forced-o/runs/*
!examples/forced-o/runs/Experiment-InfDim


## The Epilptic EEG dataset
examples/epilepsy/data/*
examples/epilepsy/runs/*

## The Crowdsource EEG dataset
examples/crowdsource/data/*
examples/crowdsource/runs/*

## The Synthetic Trends dataset
examples/trends/data/*
examples/trends/runs/*

## The sleep dataset
examples/sleep/data/*
examples/sleep/runs/*

## The linguistics dataset
examples/linguistics/data/*
examples/linguistics/runs/*

## The Vortal (breathing) dataset
examples/vortal/data/*
examples/vortal/runs/*
*core

## The Lotka dataset
examples/selkov/runs/*
examples/selkov/data/*

## The Glcolytic dataset
examples/glycolytic/runs/*
examples/glycolytic/data/*


## Lotka volterra experiment runs
examples/lotka-v/runs/*
!examples/lotka-v/runs/240721-214759-T0/
!examples/lotka-v/runs/240721-205112-T1/
!examples/lotka-v/runs/ContextPoolSizeExperiment/
!examples/lotka-v/runs/ContextPoolSizeExperiment/

## The Foundational dataset
examples/ode-bench/data_2D/*
examples/ode-bench/data_2D_16envs/*
examples/ode-bench/data_2D_tiny/*
examples/ode-bench/data_2D_mid/*
examples/ode-bench/data_2D_super_small/*
examples/ode-bench/data_2D_small/*
examples/ode-bench/data_2D_invs/*
examples/ode-bench/data_3D/*
examples/ode-bench/data_3D_orig/*
examples/ode-bench/runs/*
!examples/ode-bench/runs/241017-231954-BestNCF*/
!examples/ode-bench/runs/241019-183954-CoDAH-9Envs/
!examples/ode-bench/runs/241021-163134-Excellent/
!examples/ode-bench/runs/241026-122758-Top4-MoE-NCF/
!examples/ode-bench/runs/241028-103114-LongestMoE/
!examples/ode-bench/runs/241101-011640-LargeAwesome/
!examples/ode-bench/runs/241106-164001-Golden/

!examples/ode-bench/runs/241115-141631-FullExperts/
!examples/ode-bench/runs/241107-162020-SuperGolden*/

examples/ode-bench/runs/241129-230513-MegaGolden*/checkpoints/
!examples/ode-bench/runs/241129-230513-MegaGolden*/
!examples/ode-bench/runs/241207-204554-PerfectT0/
examples/ode-bench/runs/241207-204554-PerfectT0/runs/
examples/ode-bench/runs/241207-204554-PerfectT0/checkpoints
examples/ode-bench/core
examples/ode-bench/nohup.logs

!examples/ode-bench/runs/241223-103857-TestingGround/
examples/ode-bench/runs/241223-103857-TestingGround/checkpoints

!examples/ode-bench/runs/241227-225701-5HoursProximalSuper/
examples/ode-bench/runs/241227-225701-5HoursProximalSuper/checkpoints

!examples/ode-bench/runs/241229-141910-UnbelievableDivergence/
examples/ode-bench/runs/241229-141910-UnbelievableDivergence/checkpoints

!examples/ode-bench/runs/241231-033843-9Hours-Awesome/
examples/ode-bench/runs/241231-033843-9Hours-Awesome/checkpoints

!examples/ode-bench/runs/250101-131325-BiggerContexts/
examples/ode-bench/runs/250101-131325-BiggerContexts/checkpoints

!examples/ode-bench/runs/250106-120447-HyperGolden*/
examples/ode-bench/runs/250106-120447-HyperGolden*/checkpoints

!examples/ode-bench/runs/250105-203708-10ExpertsGreat/
examples/ode-bench/runs/250105-203708-10ExpertsGreat/checkpoints

!examples/epilepsy/runs/250108-100828-SingleExpertGood/
examples/epilepsy/runs/250108-100828-SingleExpertGood/checkpoints

!examples/ode-bench/runs/250113-124059-SuperMassiveGold*/
examples/ode-bench/runs/250113-124059-SuperMassiveGold*/checkpoints

!examples/ode-bench/runs/250115-023500-T1-Median*/
!examples/lotka-v/runs/250113-174800-NewSOTA/
!examples/trends/runs/250115-004140-3Experts-Median*/
examples/linguistics/nohup.log
nohup.log

!examples/epilepsy/runs/250122-220930-OMG-Use60Works*/

