*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
# *.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json

selfmod.egg-info
selfmod.egg-info/*
selfmod/__pycache__/*

# For tensorboard logs
*v2
*ubyte.gz
*json.gz
*.pb

# For slurm out files
*.out

# For Isambard
*.pbs*
!scripts/isambard.pbs

# Artifacts of testing
selfmod/tests/tmp/*

## Pytorch tmp savings
*-ubyte

# ## Don't save equinox models
# *.eqx

## Ignore the example tmp
examples/tmp/

## Cprofile
examples/runs/cprofile/*


## Ingnore all folders named "tmp", recursively
**/tmp/
venv/*

# ## Files
# contexts_*.npy

## Every experiment in runs
examples/forced-oscillator/runs/*
!examples/forced-oscillator/runs/240531-190937-Lotka
!examples/forced-oscillator/runs/240601-080700-Great
!examples/forced-oscillator/runs/240601-161402-Perfect
!examples/forced-oscillator/runs/240601-235945-Awesome


## The celebA dataset
examples/celeb-a/data/*
examples/celeb-a/data/img_align_celeba.zip
examples/celeb-a/runs/*


## Exception runs
!examples/celeb-a/runs/240617-190219
!examples/celeb-a/runs/250609-112233-VAE
examples/celeb-a/runs/250624-193230-VAE/*.eqx
!examples/celeb-a/runs/250624-193230-VAE/
!examples/celeb-a/runs/240629-114654/
!examples/celeb-a/runs/240629-192445/
!examples/celeb-a/runs/240630-134526/
!examples/celeb-a/runs/240713-051118-VNet/
!examples/celeb-a/runs/240713-134917-GoldenT0/
# examples/celeb-a/runs/240713-134917-GoldenT0/contexts/