*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
# *.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json

selfmod.egg-info
selfmod.egg-info/*
selfmod/__pycache__/*

# For tensorboard logs
*v2
*ubyte.gz
*json.gz
*.pb

# For slurm out files
*.out

# For Isambard
*.pbs*
!scripts/isambard.pbs

# Artifacts of testing
selfmod/tests/tmp/*

## Pytorch tmp savings
*-ubyte

# ## Don't save equinox models
# *.eqx

## Ignore the example tmp
examples/tmp/

## Cprofile
examples/runs/cprofile/*


## Ingnore all folders named "tmp", recursively
**/tmp/
venv/*

# ## Files
# contexts_*.npy

## Every experiment in runs
examples/forced-oscillator/runs/*
!examples/forced-oscillator/runs/240531-190937-Lotka
!examples/forced-oscillator/runs/240601-080700-Great
!examples/forced-oscillator/runs/240601-161402-Perfect
!examples/forced-oscillator/runs/240601-235945-Awesome


## The celebA dataset
examples/celeb-a/data/*
examples/celeb-a/data/img_align_celeba.zip
examples/celeb-a/runs/*


## Exception runs
!examples/celeb-a/runs/240617-190219
!examples/celeb-a/runs/250609-112233-VAE
examples/celeb-a/runs/250624-193230-VAE/*.eqx
!examples/celeb-a/runs/250624-193230-VAE/
!examples/celeb-a/runs/240629-114654/
!examples/celeb-a/runs/240629-192445/
!examples/celeb-a/runs/240630-134526/
!examples/celeb-a/runs/240713-051118-VNet/
!examples/celeb-a/runs/240713-134917-GoldenT0/
# examples/celeb-a/runs/240713-134917-GoldenT0/contexts/
!examples/celeb-a/runs/240816-182136-3DaysTrain-Awesome/
!examples/celeb-a/runs/240819-024338-6HoursTrainingNCF/
!examples/celeb-a/runs/240819-162026-LowDataNCF/
!examples/celeb-a/runs/240819-171428-LowDataCAVIA/
!examples/celeb-a/runs/LowDataRegimeExperiment/
# !examples/celeb-a/runs/240901-174340-LC64/
# !examples/celeb-a/runs/240901-220317-LC32-CP3-SuperLong/
!examples/celeb-a/runs/DataTaylorExperiment/
# !examples/celeb-a/runs/240904-124509-T0-LC32-P32-NOALM*/      ## This is the best one


## Sine experiment runs
examples/sine-reg/runs/*
!examples/sine-reg/runs/240818-234103-Awesome/
!examples/sine-reg/runs/Experiment-DataRegime/
!examples/sine-reg/runs/Experiment-DataRegime-SmallCAVIA/


## Forced oscillator experiment runs
examples/forced-o/runs/*
!examples/forced-o/runs/Experiment-InfDim



## Lotka volterra experiment runs
examples/lotka-v/runs/*
!examples/lotka-v/runs/240721-214759-T0/
!examples/lotka-v/runs/240721-205112-T1/
!examples/lotka-v/runs/ContextPoolSizeExperiment/
!examples/lotka-v/runs/ContextPoolSizeExperiment/

## The Foundational dataset
examples/foundational/data_2D/*
examples/foundational/data_2D_tiny/*
examples/foundational/runs/*
!examples/foundational/runs/241017-231954-BestNCF*/
!examples/foundational/runs/241019-183954-CoDAH-9Envs/
!examples/foundational/runs/241021-163134-Excellent/
!examples/foundational/runs/241026-122758-Top4-MoE-NCF/
!examples/foundational/runs/241028-103114-LongestMoE/
!examples/foundational/runs/241101-011640-LargeAwesome/
!examples/foundational/runs/241106-164001-Golden/

!examples/foundational/runs/241115-141631-FullExperts/
!examples/foundational/runs/241107-162020-SuperGolden*/

examples/foundational/runs/241129-230513-MegaGolden*/checkpoints/
!examples/foundational/runs/241129-230513-MegaGolden*/
